<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>투어 ID</th>
            <th>좌석 수</th>
            <th>상태</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}">1</td>
            <td th:text="${reservation.tourId}">1</td>
            <td th:text="${reservation.seatCount}">1</td>
            <td th:text="${reservation.status}">1</td>            
        </tr>
        </th:block>
    </tbody>
</table>