<div th:fragment="content" th:inline="text">
    <h1>메뉴 코드 목록</h1>

    <table border="1" style="border-collapse: collapse; text-align: center;">
        <thead>
            <tr>
                <th>코드</th>
                <th>대상</th>
                <th>값</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="mc : ${menuCodes}">
                <tr th:each="det, iter : ${mc.details}" th:onclick="'window.location.href=\'/menu-code/' + ${mc.code} + '\';'">
                    <td th:if="${iter.index == 0}" th:text="${mc.code}" th:rowspan="${#lists.size(mc.details)}"></td>
                    <td th:text="${det.targetColumn}"></td>
                    <td th:text="${det.value}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>