<div th:fragment="content">

    <h1 th:text="${product.id} == null ? '패키지 등록' : '패키지 상세' "></h1>

    <form th:object="${product}" th:action="${product.id} == null ?
               @{/product/new} :
               @{/product/{id}(id=${product.id})}" method="post">

        <!-- 수정 시에만 ID 표시 -->
        <div th:if="${product.id} != null">
            <label>ID:</label>
            <input type="text" th:field="*{id}" readonly /><br>
        </div>

        <!-- 기본 Product 필드들 -->
        <label for="title">이름:</label>
        <input type="text" th:field="*{title}" required /><br>

        <!-- Tour 필드 -->
        <div style="border: 1px, solid, black;">
            <label for="tour">투어 ID :</label>
            <input type="text" th:field="*{tour.id}" onclick="searchTour(this)" readonly /><br>

            <label for="tourPrice">투어 국가 :</label>
            <input type="text" th:field="*{tour.country}" disabled /><br>

            <label for="tourPrice">투어 시작날짜 :</label>
            <input type="text" th:field="*{tour.startDate}" disabled /><br>

            <label for="tourPrice">투어 종료날짜 :</label>
            <input type="text" th:field="*{tour.endDate}" disabled /><br>

            <label for="tourPrice">투어 가격 :</label>
            <input type="text" th:field="*{tour.price}" disabled /><br>

            <label for="tourPrice">항공권 가격 :</label>
            <input type="text" th:field="*{tour.airPriceSum}" disabled /><br>

            <label for="tourPrice">호텔 가격 :</label>
            <input type="text" th:field="*{tour.hotelPriceSum}" disabled /><br>

            <label for="totalPrice">투어 가격 합 :</label>
            <input type="text" id="totalPrice" disabled /><br>

        </div>

        <label for="price">가격:</label>
        <input type="number" th:field="*{price}" required /><br>

        <!-- 이미지 URL List -->
        <!-- <div>
            <label>이미지 URL:</label>
            <div id="images-container">
                <div th:each="img, iterStat : *{images}">
                    <input type="text" th:field="*{images[__${iterStat.index}__]}" />
                    <button type="button" onclick="removeImageField(this)">삭제</button>
                </div>
            </div>
            <button type="button" onclick="addImageField()">이미지 추가</button>
        </div> -->

        <div>
            <div id="images-container">
                <label>이미지</label>
                <div class="image-item" th:each="img, iterStat : *{images}">
                    <input type="text" th:field="*{images[__${iterStat.index}__]}" placeholder="이미지 URL" />
                    <button type="button" onclick="removeImageField(this)">제거</button>
                </div>
            </div>
            <button type="button" onclick="addImageField()">이미지 추가</button>
        </div>

        <!-- 상품 정보 Map -->
        <div>
            <label>상품 정보:</label>
            <div id="info-container">
                <div th:each="entry, iterStat : *{info}">
                    제목: <input type="text" th:name="|info[__${iterStat.index}__].title|" th:value="${entry.title}" />
                    내용: <input type="text" th:name="|info[__${iterStat.index}__].content|" th:value="${entry.content}" />
                    추가내용: <input type="text" th:name="|info[__${iterStat.index}__].appendix|" th:value="${entry.appendix}" />
                    <button type="button" onclick="removeField(this)">삭제</button>
                </div>
            </div>
            <button type="button" onclick="addInfoField()">정보 추가</button>

        </div>
        <button type="submit" th:text="${product.id} == null ? '등록' : '수정'"></button>
    </form>

    <button th:if="${product.id != null}" th:onclick="deleteProduct([[${product.id}]])">삭제</button>

    <script src="/js/util.js"></script>
    <script>

        // Tour가 지정된 Product인 경우 가격 합
        let tourPrice = Number(document.getElementById("tour.price").value);
        let airPriceSum = Number(document.getElementById("tour.airPriceSum").value);
        let hotelPriceSum = Number(document.getElementById("tour.hotelPriceSum").value);
        document.getElementById("totalPrice").value = tourPrice + airPriceSum + hotelPriceSum;


        function searchTour() {
            const popup = window.open(
                '/tour/search', // URL
                'tourSearchPopup',
                'width=1200,height=800'
            );
        }

        function setPrice(id, tourPrice, airPrice, hotelPrice) {
            console.log(`id, tourPrice, airPrice, hotelPrice: ${id}, ${tourPrice}, ${airPrice}, ${hotelPrice}`);
            document.getElementById("tour.id").value = id;
            document.getElementById("tour.price").value = tourPrice;
            document.getElementById("tour.airPriceSum").value = airPrice;
            document.getElementById("tour.hotelPriceSum").value = hotelPrice;
            document.getElementById("totalPrice").value = tourPrice + airPrice + hotelPrice;
        }

        function deleteProduct(id) {
            if (confirm('정말로 삭제하시겠습니까?')) {
                fetch('/product/' + id, { method: 'DELETE' })
                    .then(res => {
                        if (res.ok) {
                            alert('삭제 성공');
                            window.location.href = '/product';
                        } else {
                            alert('삭제 실패');
                        }
                    });
            }
        }

        // 공통 삭제 함수
        function removeField(btn) {
            btn.parentElement.remove();
            reindexImages();
            reindexInfos();
        }

        function removeImageField(btn){
            removeImage(btn);
            // removeField(btn);
        }

        function reindexImages() {
            const inputs = document.querySelectorAll("#images-container input");
            inputs.forEach((input, idx) => {
                input.name = `images[${idx%2}]`;
            });
        }

        function reindexInfos() {
            const divs = document.querySelectorAll("#info-container div");
            divs.forEach((div, idx) => {
                inputs = div.querySelectorAll("input");
                inputs.forEach((input) => {
                    input.name = `info[${idx}]`;
                });
            });
        }

        // 이미지 필드 추가
        function addImageField() {
            const container = document.getElementById("images-container");
            const index = container.querySelectorAll("div").length;

            const div = document.createElement("div");
            div.className = "image-item";

            const input = document.createElement("input");
            input.type = "text";
            input.name = `images[${index}]`;

            const input2 = document.createElement("input");
            input2.type = "file";
            input2.addEventListener("change", () => uploadImage(input2));

            const button = document.createElement("button");
            button.type = "button";
            button.textContent = "삭제";
            button.addEventListener("click", () => removeImageField(button));

            div.appendChild(input);
            div.appendChild(input2);
            div.appendChild(button);

            container.appendChild(div);
        }

        // Info 필드 추가 (List<Info>)
        function addInfoField() {
            const container = document.getElementById("info-container");
            const index = container.querySelectorAll("div").length;
            const div = document.createElement("div");

            // 제목
            const titleLabel = document.createTextNode("제목: ");
            const titleInput = document.createElement("input");
            titleInput.type = "text";
            titleInput.name = `info[${index}].title`;
            titleInput.placeholder = "제목";

            // 내용
            const contentLabel = document.createTextNode(" 내용: ");
            const contentInput = document.createElement("input");
            contentInput.type = "text";
            contentInput.name = `info[${index}].content`;
            contentInput.placeholder = "내용";

            // 추가내용
            const appendixLabel = document.createTextNode(" 추가내용: ");
            const appendixInput = document.createElement("input");
            appendixInput.type = "text";
            appendixInput.name = `info[${index}].appendix`;
            appendixInput.placeholder = "추가내용";

            // 삭제 버튼
            const button = document.createElement("button");
            button.type = "button";
            button.textContent = "삭제";
            button.addEventListener("click", () => removeField(button));

            // div에 조립
            div.appendChild(titleLabel);
            div.appendChild(titleInput);
            div.appendChild(contentLabel);
            div.appendChild(contentInput);
            div.appendChild(appendixLabel);
            div.appendChild(appendixInput);
            div.appendChild(button);

            container.appendChild(div);
        }

    </script>

    <datalist id="countryList">
        <option th:each="cc : ${countryCode}" th:value="${cc.code} + ' | ' + ${cc.eng} + ' | ' + ${cc.kor}"></option>
    </datalist>

    <datalist id="cityList">
        <option th:each="cc : ${cityCode}" th:value="${cc.code} + ' | ' + ${cc.country} + ' | ' + ${cc.eng} + ' | ' + ${cc.kor}"></option>
    </datalist>

</div>