<!DOCTYPE html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N2JRTZZQ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2JRTZZQ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <h1>Login Page</h1>
    <form method="post" action="/login">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required value="admin">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required value="admin">
        </div>
        <button type="submit">Login</button>
    </form>

    <!-- 로그인 실패 시 메시지 출력 -->
    <div>
        <p style="color:red;" th:if="${param.error}">Invalid username or password.</p>
    </div>

    <br>
    <h1>TEST 계정생성 TEST</h1>
    <form method="post" action="/admin">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="id" name="id" required value="admin">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required value="admin">
        </div>
        <div>
            <label for="role">Role:</label>
            <input type="radio" value="ADMIN" id="role2" name="role" checked="checked">ADMIN
            <input type="radio" value="SERVICE" id="role1" name="role">SERVICE
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>