<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post" action="/login">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required value="admin">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required value="admin">
        </div>
        <button type="submit">Login</button>
    </form>

    <!-- 로그인 실패 시 메시지 출력 -->
    <div>
        <p style="color:red;" th:if="${param.error}">Invalid username or password.</p>
    </div>
</body>
</html>
