<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>투어 상세</title>
</head>
<body>
    <h1>투어 상세</h1>
    <form th:action="${tour.id == null} ? '/tour/new' : '/tour/' + ${tour.id}" method="post">
        <input type="text" name="id" id="id" th:value="${tour.id}" readonly><br>
        <input type="text" name="name" id="name" th:value="${tour.name}" placeholder="이름"><br>
        <input type="text" name="company" id="company" th:value="${tour.company}" placeholder="회사"><br>
        <input type="datetime" name="date" id="date" th:value="${tour.date}" placeholder="2000-00-00"><br>
        <input type="submit" th:value="${tour.id == null} ? '등록' : '수정'">
    </form>
</body>
</html>